In [1]:
import pandas as pd

In [2]:
df = pd.read_hdf("../data/car.h5")

In [3]:
df.shape

(106494, 155)

In [4]:
df.sample(5)

,breadcrumb,created_at,price_currency,price_details,price_value,seller_address,seller_name,seller_type,feature_czujniki-parkowania-przednie,feature_poduszka-powietrzna-chroniąca-kolana,...,param_pearl,param_stan,param_wersja,param_emisja-co2,param_body-type,param_matowy,param_bezwypadkowy,param_akryl-(niemetalizowany),param_monthly-payment-value,car_id
71955,"[Osobowe, Toyota, Avensis, Toyota Avensis II (...","13:08, 3 marca 2018",PLN,Cena Brutto,14900.0,"UL. ŁUKASIEWICZA 1D - 19-300 Ełk, ełcki, Warmi...",ALTA FILIPKOWSCY SPÓŁKA JAWNA,Dealer,False,True,...,None,Używane,II (2003 - 2009),None,None,None,None,None,None,71955
103675,"[Osobowe, Ford, Fiesta, Ford Fiesta Mk6 (2002-...","10:34, 28 lutego 2018",PLN,Cena Brutto,8490.0,"Sławno, sławieński, Zachodniopomorskie",None,Osoba prywatna,False,False,...,None,Używane,Mk6 (2002-2008),None,None,None,Tak,None,None,103675
140701,"[Osobowe, BMW, Seria 3, 318, BMW Seria 3 F30 (...","10:27, 3 marca 2018",PLN,"Cena Netto, Do negocjacji, Faktura VAT",46260.0,"Wał Miedzieszyński 117 - 04-987 Warszawa, Wawe...",EUROSAMOCHODY.PL BEZWYPADKOWE OD I-WŁAŚCICIELI...,Dealer,False,True,...,None,Używane,F30 (2012-),None,None,None,Tak,None,None,140701
54320,"[Osobowe, Peugeot, 5008, Peugeot 5008 II (2017-)]","09:58, 3 marca 2018",PLN,"Cena Brutto, Faktura VAT",139430.0,"ul. Poznańska 22, Poznań - Baranowo - 62-081 P...",Peugeot Grupa Karlik Sp. j. Autoryzowany Dealer,Dealer,True,False,...,None,Nowe,II (2017-),None,None,None,Tak,None,None,54320
35422,"[Osobowe, Volkswagen, Touran, Volkswagen Toura...","17:28, 2 marca 2018",PLN,"Cena Brutto, Do negocjacji",16500.0,"Przywidz, gdański, Pomorskie",None,Osoba prywatna,False,False,...,None,Używane,I (2003-2010),None,None,None,Tak,None,None,35422